<div class="body_wrapper">
    <div class="center">
        <div class="header_area">
            <div class="logo floatleft">
                <a href="#"><img src="{{url_for('static',filename='images/logo.jpg')}}" class="logo" alt="" style="height:70px;margin-top:10px;
            width: 70px;" /></a>
            </div>
            <div class="top_menu floatleft">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Subscribe</a></li>
                </ul>
            </div>